<a href="https://colab.research.google.com/github/shesshirley/Goldman-Analysis/blob/main/Goldman_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd '/content/drive/Shared drives/datathon'

Mounted at /content/drive
/content/drive/Shared drives/datathon

In [ ]:
import pandas as pd
import numpy as np

# Data Collection

In [ ]:
#using get query to save datasets and read into dataframes
stock_df = pd.read_csv("stock_history.csv")
env_df = pd.read_csv("env_data.csv")
company_df = pd.read_csv("company_profile.csv")

# Data Analysis
### Data Pre-Processing

In [ ]:
#drop the useless column and keep the valuable feature for later predicting, pre-process the date column and filter out the date before 1980
stock_df1 = stock_df.copy()
stock_df1['YEAR'] = pd.to_datetime(stock_df1['DATE']).dt.year
stock_df1['MONTH'] = pd.to_datetime(stock_df1['DATE']).dt.month
stock_df1['DAY'] = pd.to_datetime(stock_df1['DATE']).dt.day
stock_df1['YEAR-MONTH'] = pd.to_datetime(stock_df1['DATE']).dt.to_period('M')
stock_df1 = stock_df1[stock_df1["YEAR"]>=1980]
stock_df1.head()

    ID SYMBOL        DATE  OPEN  HIGH  ...  ADJCLOSE  YEAR  MONTH  DAY  YEAR-MONTH
9  NaN     BB  2020-08-07  4.97  5.16  ...      4.84  2020      8    7     2020-08
10 NaN     BB  2020-06-03  5.38  5.43  ...      5.21  2020      6    3     2020-06
11 NaN     BB  2020-01-23  6.60  6.67  ...      6.66  2020      1   23     2020-01
12 NaN     BB  2019-10-23  5.12  5.26  ...      5.21  2019     10   23     2019-10
13 NaN     BB  2019-03-06  8.72  9.15  ...      9.08  2019      3    6     2019-03

[5 rows x 13 columns]

In [ ]:
open_date = stock_df1.groupby('YEAR-MONTH')['DAY'].min().reset_index()
close_date = stock_df1.groupby('YEAR-MONTH')['DAY'].max().reset_index()
stock_df1["MONTH_OPEN"] = stock_df1.merge(open_date, on=['YEAR-MONTH','DAY'],how='inner')['OPEN']
stock_df1["MONTH_CLOSE"] = stock_df1.merge(close_date, on=['YEAR-MONTH','DAY'],how='inner')['CLOSE']
stock_df1.head()

    ID SYMBOL        DATE  OPEN  ...  DAY  YEAR-MONTH  MONTH_OPEN  MONTH_CLOSE
9  NaN     BB  2020-08-07  4.97  ...    7     2020-08     12.9594       4.1786
10 NaN     BB  2020-06-03  5.38  ...    3     2020-06     26.4700      44.0739
11 NaN     BB  2020-01-23  6.60  ...   23     2020-01     32.9796       9.9753
12 NaN     BB  2019-10-23  5.12  ...   23     2019-10     19.7000      20.1400
13 NaN     BB  2019-03-06  8.72  ...    6     2019-03     10.0000       2.0586

[5 rows x 15 columns]

In [ ]:
env_df1 = env_df.copy()
env_df1 = env_df1[['Country ISO Code', \
       'Indicator', 'Description','Year', 'Unit','Value']]
env_df1 = env_df1[env_df1["Year"]>=1980]
env_df1.head(2)

   Country ISO Code      Indicator  ...      Unit     Value
10               AE  CO2 emissions  ...  Mton CO2  41.11924
11               AE  CO2 emissions  ...  Mton CO2  38.04811

[2 rows x 6 columns]

In [ ]:
env_df2 = env_df1.groupby(['Year', 'Indicator']).Value.sum().unstack()
env_df2.head()

Indicator  Agricultural methane emissions  ...  Use of potash
Year                                       ...
1980                         3.071149e+06  ...            NaN
1981                         3.026422e+06  ...            NaN
1982                         3.069972e+06  ...            NaN
1983                         3.061073e+06  ...            NaN
1984                         3.033687e+06  ...            NaN

[5 rows x 46 columns]

In [ ]:
company_df1 = company_df.copy()
company_df1 = company_df1[['ID', 'SYMBOL', 'PRICE', 'BETA', 'VOLAVG', 'MKTCAP', 'LASTDIV', 'RANGE',
       'CHANGES', 'COMPANYNAME', 'INDUSTRY', 'SECTOR', 'DCFDIFF', 'DCF']]
company_df1.head(2)

     ID SYMBOL  PRICE  ...       SECTOR  DCFDIFF     DCF
0  4276    GDP   8.61  ...       Energy   632.38  8.4445
1  4277   RFIL   4.47  ...  Industrials      NaN  5.7325

[2 rows x 14 columns]

# Data Modeling
### Data Pre-Processing

In [ ]:
env_df3 = env_df2.copy()
for i in env_df3.columns:
  if env_df3[i].isna().sum() > 10:
   env_df3 = env_df3.drop(i,axis=1)
env_df3 = env_df3.reset_index()
env_df3.head(2)

Indicator  Year  ...  Other greenhouse gas emissions
0          1980  ...                    4.925495e+06
1          1981  ...                    4.472236e+06

[2 rows x 28 columns]

In [ ]:
company_df2=company_df1[company_df1['INDUSTRY']=='Oil & Gas Integrated']
company_df2.head(2)

        ID SYMBOL    PRICE  ...  SECTOR  DCFDIFF      DCF
812   5309     AE  19.8800  ...  Energy      NaN  46.6936
1570  6357    ECT   0.4002  ...  Energy      NaN   0.0000

[2 rows x 14 columns]

In [ ]:
stock_df2 = stock_df1.merge(company_df2, on='SYMBOL', how='inner')
stock_df2.head(2)

   ID_x SYMBOL        DATE   OPEN  ...              INDUSTRY  SECTOR  DCFDIFF  DCF
0   NaN  SU.TO  2020-05-08  23.54  ...  Oil & Gas Integrated  Energy      NaN  NaN
1   NaN  SU.TO  2019-11-08  42.30  ...  Oil & Gas Integrated  Energy      NaN  NaN

[2 rows x 28 columns]

In [ ]:
stock_df3 = stock_df2.groupby('YEAR-MONTH')[['SYMBOL', 'MONTH_OPEN', 'VOLUME', 'YEAR', 'MONTH',
       'MKTCAP', 'LASTDIV', 'RANGE', 'CHANGES','MONTH_CLOSE']].mean().reset_index().rename(columns={'YEAR':'Year'})
stock_df3.head(2)

  YEAR-MONTH  MONTH_OPEN        VOLUME  ...  LASTDIV  CHANGES  MONTH_CLOSE
0    1980-01   30.799436  1.867701e+06  ...    2.666  0.64868    19.682982
1    1980-02   16.897300  2.082418e+06  ...    2.666  0.64868     6.720550

[2 rows x 9 columns]

In [ ]:
stock_df3["TIME"] = (stock_df3["Year"]-1980)*12 +stock_df3["MONTH"]

In [ ]:
df = stock_df3.merge(env_df3, on='Year')
df = df.drop("Year",axis=1)
df = df.drop("YEAR-MONTH",axis=1)
df = df.drop("MONTH",axis=1)
df.head(2)

   MONTH_OPEN  ...  Other greenhouse gas emissions
0   30.799436  ...                    4.925495e+06
1   16.897300  ...                    4.925495e+06

[2 rows x 34 columns]

In [ ]:
df.isna().sum()

MONTH_OPEN                                           0
VOLUME                                               0
MKTCAP                                               0
LASTDIV                                              0
CHANGES                                              0
MONTH_CLOSE                                          0
TIME                                                 0
Agricultural methane emissions                      12
Agricultural nitrous oxide emissions                12
CO2 emissions                                        0
CO2 emissions from bunker fuels                     60
CO2 emissions from cement production                60
CO2 emissions from electricity production (%)       60
CO2 emissions from fossil-fuels                     60
CO2 emissions from gas flaring                      60
CO2 emissions from gas fuel consumption             60
CO2 emissions from gaseous fuel consumption         36
CO2 emissions from gaseous fuel consumption (%)     36
CO2 emissions from liquid fuel consumption          36
CO2 emissions from liquid fuel consumption (%)      36
CO2 emissions from manufacturing industries (%)     60
CO2 emissions from other sectors (%)                60
CO2 emissions from solid fuel consumption           36
CO2 emissions from solid fuel consumption (%)       36
CO2 emissions intensity                            120
CO2 emissions per capita                             0
CO2 emissions: residential buildings (%)            60
CO2 emissions: transport (%)                        60
CO2 intensity                                       48
Methane emissions                                   12
Methane emissions in energy sector                  12
Nitrous oxide emissions                             12
Nitrous oxide emissions in energy                   12
Other greenhouse gas emissions                      36
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import GridSearchCV
from sklearn import svm

In [ ]:
X = df.drop("MONTH_CLOSE",axis=1)
y = df["MONTH_CLOSE"]

train_X, test_X, train_y,  test_y = train_test_split(X, y, random_state=0)

In [ ]:
# Data imputation
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
train_X_imp = imp_mean.fit_transform(train_X)
test_X_imp = imp_mean.transform(test_X)

In [ ]:
# Data normalization
transformer = Normalizer()
train_X_trans = transformer.fit_transform(train_X_imp)
test_X_trans = transformer.transform(test_X_imp)

### SVM Regression

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = {'kernel':('linear', 'rbf','poly'), 'C':[0.01, 0.1, 1, 10]}
svr = svm.SVR()
clf = GridSearchCV(svr, parameters)
clf.fit(train_X_trans, train_y)
clf.score(test_X_trans, test_y)

-0.009145503948462919

### Polynomial Regression

In [ ]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3)
train_X_po = poly.fit_transform(train_X_trans)
test_X_po = poly.transform(test_X_trans)
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(train_X_po,train_y)
reg.score(test_X_po, test_y)

-8034697.741040067